@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2ftfzu');
  src:  url('fonts/icomoon.eot?2ftfzu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2ftfzu') format('truetype'),
    url('fonts/icomoon.woff?2ftfzu') format('woff'),
    url('fonts/icomoon.svg?2ftfzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PICTOS_V02-03:before {
  content: "\e900";
  color: #00385f;
}
.icon-PICTOS_V02-04:before {
  content: "\e901";
}
.icon-PICTOS_V02-05:before {
  content: "\e902";
}
.icon-PICTOS_V02-06:before {
  content: "\e903";
}
.icon-PICTOS_V02-07:before {
  content: "\e904";
}
.icon-PICTOS_V02-08:before {
  content: "\e905";
}
.icon-PICTOS_V02-09:before {
  content: "\e906";
}
.icon-PICTOS_V02-10:before {
  content: "\e907";
}
.icon-PICTOS_V02-11:before {
  content: "\e908";
}
.icon-PICTOS_V02-12:before {
  content: "\e909";
}
.icon-PICTOS_V02-13:before {
  content: "\e90a";
}
.icon-PICTOS_V02-14:before {
  content: "\e90b";
  color: #00385f;
}
.icon-PICTOS_V02-15:before {
  content: "\e90c";
  color: #00385f;
}
.icon-PICTOS_V02-16:before {
  content: "\e90d";
  color: #00385f;
}
.icon-PICTOS_V02-17:before {
  content: "\e90e";
  color: #00385f;
}
.icon-PICTOS_V02-18:before {
  content: "\e90f";
  color: #00385f;
}
.icon-PICTOS_V02-19:before {
  content: "\e910";
  color: #00385f;
}
.icon-PICTOS_V02-20:before {
  content: "\e911";
  color: #00385f;
}
.icon-PICTOS_V02-21:before {
  content: "\e912";
  color: #00385f;
}
.icon-PICTOS_V02-22:before {
  content: "\e913";
  color: #00385f;
}
.icon-PICTOS_V02-23:before {
  content: "\e914";
  color: #00385f;
}
.icon-PICTOS_V02-24:before {
  content: "\e915";
  color: #00385f;
}
