#signes, #intervenirbox {
  .card {
    @include media-breakpoint-down(md) {
      width:100%;
    }

    background:none;
    border:0;
    border-radius:0;
    position:relative;
    .inner-card, .inner-card-over  {
      height:100% !important;
      .box {
        background:$white;
      }
    }
    .inner-card {
      z-index: 1;
      position:relative;
      .box {
        height:100%;
      }
    }
    .inner-card-over {
      opacity:0;
      width:100%;
      z-index: 2;
      position:absolute;
      @include transition-all();
      .box {
        width:100%;
        height:auto;
        overflow:hidden;

        position:absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      .inner-card-over {
        opacity:1;
      }
    }
  }
}

#signes {
    .inner-card, .inner-card-over  {
      .box {
        -webkit-box-shadow: 0 4px 17px 0 #CFDEF1;
        -moz-box-shadow: 0 4px 17px 0 #CFDEF1;
        box-shadow: 0 4px 17px 0 #CFDEF1;
      }
    }
}
#intervenirbox {
  .inner-card, .inner-card-over  {
    .box {
      -webkit-box-shadow: 0 4px 17px 0 $blue2;
      -moz-box-shadow: 0 4px 17px 0 $blue2;
      box-shadow: 0 4px 17px 0 $blue2;
    }
  }
}

@include media-breakpoint-down(md) {

  .card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: block;
    margin-bottom: .75rem;
    vertical-align: top;
  }

  .card-deck .card:not(:first-child) {
    margin-left: 0px;
  }

}
