@mixin underline-revealer {
  $duration: $mediumDuration;
  @include hacks();
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    height: 3px;
    @include prefixed(transform, translateY(3px));
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $duration);
    @include prefixed(transition-timing-function, ease-out);
  }
  &:hover,
  &:focus,
  &:active {
    &:before {
      @include prefixed(transform, translateY(0));
    }
  }
}
#footer {

  .bg-darkgray {
    color: #fff;
  }
  .bg-lightgray {
    color: #4A4A4A;
  }
  a {
    color: #fff;
  }
  .navcol {
    display: none !important;
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
  .navbar-brand {
    display:block;
    padding: 0;
    color: #fff;
    font-weight: normal;
    height: $mainnav-shrink;
    width: $logowidth-shrink;
    .icon-logo {
      height: $mainnav-shrink;
      width: $logowidth-shrink;
      font-size: $mainnav-shrink;
      &:before {
        top: -15px;
        position: relative;
        color: #fff;
        font-size: $logofont-shrink;
        height: $mainnav-shrink;
        width: $logowidth-shrink;
        line-height: $mainnav-shrink;
      }
    }
  }
  .footer-link {
    color: #FFFFFF;
    font-family: $font-family-serif;
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 24px;
  }
  .footernumber {
    display: none !important;
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
    p {
      color: #9FA3A7;
      font-family: $font-family-serif;
      font-size: 36px;
      line-height: 60px;
      text-align: center;
      margin:48px auto 15px auto;
    }
    a {
      display:block;
      margin:auto auto 60px auto;
      color: #FFFFFF;
      font-family: $font-family-serif;
      font-size: 100px;
      line-height: 60px;
      text-align: center;

    }
  }
  .auxmenu, .auxmenu2 a {
    color: #fff;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    padding:0 0 10px 0 !important;
    margin: 0 5px;
    @include underline-revealer();
    @include media-breakpoint-up(xl) {
      font-size: 16px;
      //padding: 0 10px;
    }
  }
  .auxmenu {
    display: block;
    color: #fff;
  }
  .auxmenu2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  h3.text-normal {
    padding: 0;
    margin: 36px 0 30px 0;
    color: $light-gray;
  }
  .bg-lightgray {
    height: 50px;
    line-height: 50px;
  }
  .social {
    margin-top: 20px;
    a.footersocial {
      margin: 0 7px;
      width: 27px;
      display: inline-block;
      height: 27px;
      line-height: 20px;
      border-radius: 27px;
      border: 2px solid #fff !important;
      text-align: center;
      &:before {
        color: #fff !important;
        font-size: 12px !important;
      }
      @include media-breakpoint-down(xl) {
        margin-bottom: 15px;
      }
      @include media-breakpoint-down(lg) {
        display:none;
      }
    }
  }
  .lastline {
    line-height:50px;
    color: #9FA3A7;
    font-size: 12px;
    white-space: nowrap;
  }
  .langswitch, .langswitch a {
    line-height:50px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.light-gray-rule {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $gray-800;
}