// Global styling for this template
body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  text-decoration: none;
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
    text-decoration: none;
  }
  &:active {
    @include media-breakpoint-down(md) {
      background: none !important;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.btn {
  box-shadow: none;
  white-space: normal;
  @include media-breakpoint-up(lg) {
    white-space:nowrap;
  }
}

.bar {
  width: 115px;
  height: 5px;
  background: $paleblue;
  margin: 30px auto;
  &.notitle {
    margin: 0 auto 30px auto;
  }
}

.text-small {
  font-size: 12px;
}

p, .text-normal {
  font-size: 16px;
  line-height: 30px;

  &.emphasize {
    color: $steel;
    font-size: 29px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.big-text {
  font-size: 19px;
  line-height: 30px;
  @include media-breakpoint-up(xl) {
    font-size: 29px;
    line-height: 50px;
  }
}

.biglist {
  font-size: 18px;
  line-height: 32px;
  padding-left: 20px;
  @include media-breakpoint-up(lg) {
    padding-left: 40px;
    line-height: 50px;
  }
}

.p-relative {
  position: relative;
}

.boxoverlay {
  position: relative;
  .image {
    width: 100%;
    height: auto;
    @include media-breakpoint-up(lg) {
      width: 70%;
      position: relative;
      z-index: 5;
    }
  }
  .box {
    background: #fff;
    border: 6px solid $primary;
    padding: 40px;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      @media (min-width: 1200px) and (max-width: 1400px) {
        top: 20px;
      }
      top: 20%;
      width: 70%;
      right: 0;
      position: absolute;
      z-index: 10;
    }
  }

}

.no-wrap {
  white-space: nowrap;
}

.iconed {
  display: block !important;
  color: $charcoal;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 24px;
  padding-left: 80px;
  margin-bottom: 0;
  position: relative;
  height: 60px;
  @extend .text-left;
  padding-top: 10px;
  &.singleline {
    padding-top: 10px;
    @include media-breakpoint-up(xl) {
      padding-top: 0;
      line-height: 60px;
    }
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 60px;
  }
  &.text-center {
    width: 100%;
    padding: 0 !important;
  }
  &.text-center:before {
    position: static;
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}

.bluebordervertical {
  width: 1px;
  border-left-width: 15px;
  border-left-style: solid;
  border-left-color: $primary;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.blueborder {
  border-bottom-width: 15px;
  border-bottom-style: solid;
  border-bottom-color: $primary;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

div.blueborderright {
  @extend .blueborder;
  position: absolute;
  right: 0;
  margin: 0;
  //margin: 0 -15px 0 auto;
  width: 65%;
}

div.blueborderleftvertical {
  @extend .bluebordervertical;
  height: 65%;
  position: absolute;
  top: -20%;
  left: 50px;
}

h2.blueborderleft {
  @extend .blueborder;
  display: inline-block;
  @include media-breakpoint-down(md) {
    font-size: 30px;
    line-height: 30px;
  }
  @include media-breakpoint-up(lg) {
    margin: 20px auto 20px -50px;
  }
  position: relative;
  padding: 10px 30px;
  text-align: left;
}

div.blueborderleft {
  @extend .blueborder;
  margin: 20px auto 0 -15px;
  width: 100%;
  position: absolute;
  left: 0;
}

.btn-link {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
  color: $primary;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid $primary;
  text-decoration: none !important;
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: 900;
  padding: 15px 30px;
  @include media-breakpoint-up(md) {
    padding: 30px 50px;
    font-size: 16px;
  }
  border-width: 4px;
  border-style: solid;
  border-color: $primary;
  border-radius: 0 !important;
  background-color: #fff;
  color: $primary;
  @extend .hvr-sweep-to-right;
  &:hover {
    background-color: #fff;
    border-color: $primary !important;
    box-shadow: none !important;
  }
  &.active, &.focus {
    box-shadow: none !important;
  }
}

p>.btn-primary {
  margin-top:15px;
}

p {
  @include media-breakpoint-down(md) {
    //word-break: break-all;
    //overflow-x : hidden;
  }
}

.big {
  padding: 0;
  margin:25px auto !important;
  @include media-breakpoint-up(lg) {
    margin: 50px auto !important;
  }
  text-align: center;
}

h2, .h2 {
  margin-bottom: 30px;
  color: $charcoal;
  font-family: $font-family-serif;
  font-size: 40px;
  line-height: 43px;
  @include media-breakpoint-up(xl) {
    font-size: 60px;
    line-height: 63px;
  }
  &.section-heading {
    @include media-breakpoint-up(xl) {
      max-width: 330px;
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 0;
  }
  &.big {
    color: $secondary;
    font-family: $font-family-serif;
    font-size: 40px;
    line-height: 50px;
    @include media-breakpoint-up(lg) {
      font-size: 130px;
      line-height: 60px;
    }
  }
}

h3, .h3 {
  font-family: $font-family-serif;
  font-size: 30px;
  line-height: 36px;
  &.big {
    color: $light-gray;
    font-size: 40px;
    line-height: 50px;
    @include media-breakpoint-up(md) {
      font-size: 70px;
      line-height: 60px;
    }
  }
}

h5, .h5 {
  color: $darkgray;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 15px;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}

section {
  padding: 0;
}

.topbox {
  .left-paleblue-border {
    @include media-breakpoint-down(lg) {
      border: none !important;
    }
  }
  .firstrow {
    @include media-breakpoint-up(xl) {
      padding-top: 120px;
      padding-bottom: 50px;
    }
  }
  > .container.bg-pale {
    @include media-breakpoint-up(md) {
      padding-bottom: 60px;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 100px;
    }
  }
}

.grid-square-50 {
  .col-md {
    position: relative;
    padding: 0;
    @include media-breakpoint-up(md) {
      width: 50%;
      padding: 25%;
    }
    .grid-square-cell {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      @extend .container-fluid;
      > div {
        @extend .row;
        height: 100%;
        > div {
          @extend .col;
          padding: 0;
        }
      }
    }
  }
}

.subnumber {
  @include media-breakpoint-down(xl) {
    text-align: center;
    .blueborderleft {
      text-align: center;
      border: none;
    }
  }
}

.no-padding {
  padding: 0;
}

#mythes {
  .carousel-control-prev, .carousel-control-next {
    width: 80px;
    height: 80px;
    opacity: 1 !important;
  }
  .carousel-control-prev {
    @extend .bg-blue1;
  }
  .carousel-control-next {
    @extend .bg-blue3;
  }
}

@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 2;
    column-gap: 1.25rem;
  }
}

.link-text {
  font-weight: bold;
}

#twitterbox {
  .twitterlink {
    display: block;
    text-decoration: none !important;
    margin-bottom: 40px;
    .label {
      color: $primary;
      font-family: $font-family-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
    }
    .icon-twitter {
      font-size: 54px;
      height: 54px;
      margin-bottom: 15px;
    }
  }
}

.minheight.iconed {
  min-height: 130px;
}

section {
  h2 {
    color: #3B3B3C;
    font-family: $font-family-serif;
    font-size: 40px;
    line-height: 42px;
    @include media-breakpoint-down(lg) {
      text-align:center;
    }
    @include media-breakpoint-up(lg) {
      font-size: 48px;
      line-height: 57px;
    }
  }
  h3 {
    font-size:36px;
    line-height:50px;
  }

}

*[data-toggle="collapse"] {
  cursor: pointer;
}

.langs {
  text-transform: uppercase;
}

.spacer {
  @include media-breakpoint-up(md) {
    width: 100%;
    height: 45px;
    > .container {
      height: 45px;
    }
  }
}


.stack_a {
  text-align: center;
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include media-breakpoint-up(lg) {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  p {
    color: #6C8CA2;
    font-family: $font-family-sans-serif;
    font-size: 22px;
    line-height: 35px;
  }
}

.stack_b {
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include media-breakpoint-up(lg) {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  h5 {
    color: #00385F;
    font-size: 16px;
    font-family: $font-family-sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 39px;
  }
  .icon {
    font-size: 80px;
  }
  .collapsecontent {
    padding: 20px 0;
    color: #00385F;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
  }
}

.stack_d {
  .container {
    padding: 20px;
  }
  @include media-breakpoint-up(lg) {
    .container {
      padding: 40px;
    }
  }
  h2, h3, h4, h5, p, a {
    color: #fff;
  }
  h2 {
    font-family: $font-family-serif;
  }
  p, li {
    font-size: 20px;
    line-height: 30px;
  }
  li {
    margin-bottom: 10px;
  }
  a:hover {
    opacity:0.5;
  }
}

.stack_e {
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  h3 {
    color: #3B3B3C;
    font-family: $font-family-sans-serif;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
  }
  p,li {
    font-size:16px;
    line-height:26px;
  }
  .titre {
    position:relative;
    z-index: 2;
  }
  @include media-breakpoint-up(lg) {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .barred {
      border-left: 5px solid $paleblue;
    }
  }
}

.stack_f {
  .card {
    padding:0;
    border-radius: 0 !important;
    border:0;
    background:none;
    position:relative;
    margin-bottom:-2px;
  }
  .card-header {
    padding:0;
    border-radius: 0 !important;
    border:0;

    border-top: 2px solid #00385F;
    border-bottom: 2px solid #00385F;

    button {
      text-align:left;
      padding:10px;
      background:none;
      border:0;
      display:block;
      width:100%;
      min-height:56px;

      color: #3B3B3C;
      font-family: $font-family-sans-serif;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 1px;
      line-height:20px;
      padding-left:20px;
      padding-right:20px;
      text-transform: uppercase;

    }
  }
}

.card-body {
  ol,ul {
    padding-left: 20px;
  }
}

.breadcrumbs {
  @include media-breakpoint-down(md) {
    display:none;
  }
  margin: 0;
  li {
    @extend .list-inline-item;
    color: #3B3B3C;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 50px;
    .separator, a {
      color: #a8a9ad;
    }

  }
}

.minimal {
  display: inline-block;
  color: #666;
  margin-left: 15px;
  line-height: 20px;
  padding-left: 27px;
  background: url(/wp-content/themes/sam/assets/img/minimal.gif) no-repeat left;
}

article {
  @include media-breakpoint-up(md) {
    padding: 50px;
  }
}

.card.box {
  border-radius:0;
  padding: 15px 30px;
  border-width: 4px;
  border-style: solid;
  border-color: #00385f;
  margin-bottom:30px;
  .card-footer {
    border:0;
    background:none;
  }
}