@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2ftfzu');
  src:  url('../fonts/icomoon.eot?2ftfzu#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?2ftfzu') format('truetype'),
  url('../fonts/icomoon.woff?2ftfzu') format('woff'),
  url('../fonts/icomoon.svg?2ftfzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  display:inline-block;
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-logo:before {
  content: "\e900";
  color: #00385f;
}
.icon-loupe:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-right:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e906";
}
.icon-top:before {
  content: "\e907";
}
.icon-left:before {
  content: "\e908";
}
.icon-hamburger:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-chat:before {
  content: "\e90b";
  color: #00385f;
}
.icon-face:before {
  content: "\e90c";
  color: #00385f;
}
.icon-coeur:before {
  content: "\e90d";
  color: #00385f;
}
.icon-facepense:before {
  content: "\e90e";
  color: #00385f;
}
.icon-nuages:before {
  content: "\e90f";
  color: #00385f;
}
.icon-document:before {
  content: "\e910";
  color: #00385f;
}
.icon-moniteur:before {
  content: "\e911";
  color: #00385f;
}
.icon-bibliotheque:before {
  content: "\e912";
  color: #00385f;
}
.icon-mains:before {
  content: "\e913";
  color: #00385f;
}
.icon-lettre:before {
  content: "\e914";
  color: #00385f;
}
.icon-groupe:before {
  content: "\e915";
  color: #00385f;
}
