// Styling for the masthead

div.masthead {
  //margin-top: $mainnav-mobile;
  @include media-breakpoint-down(md) {
    margin-bottom: 120px;
    display: block !important;
  }
  @include media-breakpoint-down(lg) {
    margin-top: $mainnav-mobile;
  }
  @include media-breakpoint-up(lg) {
    margin-top: $mainnav+$topbar;
    .navbar-shrink & {
      margin-top: $mainnav-shrink;
    }
  }
  position: relative;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/entete.jpg);

  -webkit-animation: image_blur 1s;
  -moz-animation: image_blur 1s;
  -ms-animation: image_blur 1s;
  -o-animation: image_blur 1s;
  animation: image_blur 1s;

  @keyframes image_blur {
    0% {
      opacity: 0;
      filter: blur(50px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  @-moz-keyframes image_blur {
    0% {
      opacity: 0;
      -moz-filter: blur(50px);
    }
    100% {
      opacity: 1;
      -moz-filter: blur(0px);
    }
  }
  @-webkit-keyframes image_blur {
    0% {
      opacity: 0;
      -webkit-filter: blur(50px);
    }
    100% {
      opacity: 1;
      -webkit-filter: blur(0px);
    }
  }
  @-ms-keyframes image_blur {
    0% {
      opacity: 0;
      -ms-filter: blur(50px);
    }
    100% {
      opacity: 1;
      -ms-filter: blur(0px);
    }
  }
  @-o-keyframes image_blur {
    0% {
      opacity: 0;
      -o-filter: blur(50px);
    }
    100% {
      opacity: 1;
      -o-filter: blur(0px);
    }
  }

  @extend .align-items-end;
  @include background-cover;
  color: $charcoal;
  @include media-breakpoint-up(lg) {
    height: calc(100vh - #{$mainnav});
    max-height: 766px;
  }
  > .container {
    padding: 15px 40px 0 40px;
    @include media-breakpoint-up(lg) {
      padding: 0 90px;
    }
  }
  h1 {
    font-family: $font-family-sans-serif;
    font-size: 30px;
    line-height: 37px;
    @include media-breakpoint-up(lg) {
      font-size: 70px;
      line-height: 77px;
    }
    font-weight: 700;
    color: $charcoal;
    text-align: left;
    max-width: 600px;
  }
  h2 {
    font-family: $font-family-serif;
    font-size: 25px;
    line-height: 28px;
    @include media-breakpoint-up(lg) {
      font-size: 55px;
      line-height: 76px;
    }
    color: $charcoal;
    text-align: left;
    max-width: 600px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    @include media-breakpoint-up(lg) {
      font-weight: normal;
      margin-top: 60px;
      font-size: 36px;
      letter-spacing: 4px;
      line-height: 76px;
    }
    color: $charcoal;
    text-align: left;
  }
  p {
    font-family: $font-family-serif;
    font-size: 24px;
    line-height: 29px;
    @include media-breakpoint-up(lg) {
      max-width: 350px;
    }
    color: $charcoal;
    text-align: left;
  }

}

@keyframes change-background {
  0% {
    background-color: #fff;
  }
  /*
  50% {
    background-color: $brightblue;
  }
  */
  100% {
    background-color: $primary;
  }
}

.entete_simple {
  @include media-breakpoint-up(lg) {
    animation: change-background 1s ease;
  }
  background-color: $primary;
  h1 {
    padding: 50px 15px;
  }
  @include media-breakpoint-down(lg) {
    margin-top: $mainnav-mobile;
  }
  @include media-breakpoint-up(lg) {
    margin-top: $mainnav+$topbar;
    h1 {
      margin-top: 100px;
      padding: 0;
      font-size: 50px;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .row.align-items-center {
      max-height: 584px;
      height: calc(100vh - #{$mainnav});
    }
  }
}

.articleheading {
  margin:20px auto 40px auto;
  h1.h2, h5 {
    margin-top:20px;
  }
  @include media-breakpoint-up(md) {
    margin:0 auto 40px auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 160px auto 40px auto;
  }
}

.entete_menu {
  background: $paleblue;
  position: relative;
  padding: 0;
  @extend .align-items-end;
  @include background-cover;
  color: $charcoal;
  @include media-breakpoint-down(lg) {
    margin-top: $mainnav-mobile !important;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 120px;
  }
  > .container {
    //padding: 0 40px;
    @include media-breakpoint-up(lg) {
      padding: 0 90px;
    }
  }
  h1 {
    padding: 50px 15px;
  }
  @include media-breakpoint-up(md) {
    margin-top: 40px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 40px;
    h1 {
      margin-top: 100px;
      padding: 0;
      font-size: 50px;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .row.align-items-center {
      max-height: 584px;
      height: calc(100vh - #{$mainnav});
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      margin-top: 0;
    }
    margin-top: $mainnav+$topbar;
  }
}

.titlezone {
  height: 100%;
  > .row {
    height: 100%;
  }
}

.subnavzone {
  @include media-breakpoint-down(lg) {
    height: 40px;
    @include media-breakpoint-down(md) {
      height: 120px;
      padding: 0 !important;
      margin-bottom: -120px;
      z-index: 10;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 76px;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    z-index: 2;
    bottom: 0;
  }
  padding: 0;
}

#menu-submenu, #menu-submenu-en {
  @include media-breakpoint-down(md) {
    height: 40px;

  }
  width: auto;
  height: 76px;
  @extend .align-items-center;
  > li {
    width: 33.33333%;
    height: 76px;
    @include media-breakpoint-down(md) {
      height: 40px;
      display: block;
      width: 100%;
    }
    > a {
      @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 34px;
        height: 40px;
      }
      background-color: $primary;
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 900;
      line-height: 72px;
      padding: 0;
      display: block;
      height: 76px;
      border-top: 5px solid $primary;
      &:hover, .active & {
        @include transition-bg-color(#fff, 0.3s);
        color: $primary;
      }
    }
  }
}

