// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
@mixin transition-translatey() {
  -webkit-transition: translateY 0.5s;
  -moz-transition: translateY 0.5s;
  transition: translateY 0.5s;
}
@mixin transition-scaleX() {
  -webkit-transition: scaleX 0.5s;
  -moz-transition: scaleX 0.5s;
  transition: scaleX 0.5s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: $font-family-sans-serif;
}
@mixin sans-serif-font() {
  font-family: $font-family-sans-serif;
}
@mixin transition-bg-color($color,$speed) {
  background-color: $color;
  -webkit-transition: background-color $speed linear;
  -moz-transition: background-color $speed linear;
  -o-transition: background-color $speed linear;
  -ms-transition: background-color $speed linear;
  transition: background-color $speed linear;
}