#samheader {
  background: #fff;
  position: relative;
  z-index: 9999;
  @include transition-all();

  #searchform {
    align-items: flex-end;
    height:40px;
    overflow-y: hidden;
    position:relative;
    top:-3px;
  }

  &.navbar-shrink .cell1 {
    padding-top:0 !important;
  }
  .cell1 {
    padding-top:14px;
  }

  #topbar {
    @include transition-all();
    > div, > div > div, > div > div > div {
      height: inherit;
    }
    > div > div > div {
      text-align: center;
      line-height: inherit;
      font-size: 18px;
      color: $darkgray;
      padding-left: 20px;
      padding-right: 20px;
      a {
        color: $darkgray;
        line-height: inherit;
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        outline: 0;
        box-shadow: none;
        top: -3px;
        position: relative;
        @include transition-translatey();
      }
      font-weight: bold;
      &.cell1 {
        font-weight: 900;
      }
      &.cell3 {

        padding-left: 30px;
        padding-right: 30px;

        color: #717171;
        font-family: $font-family-sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: inherit;
        text-align: center;

      }
      &.cell4 {
        font-size: 13px;
        a {
          top: 0;
          margin: 0 5px;
          line-height: inherit;
        }
      }
    }
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $palegray;
    .cell1 {
      @include transition-scaleX();
      #s {
        border:0;
        width:1px;
        @include transition-all();
      }
      &:hover {
        #s {
          width:200px;
        }
      }
    }
    .cell1, .cell2 {
      border-right-width: 2px;
      border-right-style: solid;
      border-right-color: $palegray;
    }
    .cell3, .cell4 {
      border-left-width: 2px;
      border-left-style: solid;
      border-left-color: $palegray;
    }
    .icon-loupe, .icon-loupe:before {
      border:0;
      font-weight: 900 !important;
    }
    .icon-loupe:before {
      padding:10px 0 0 0;
      position: relative;
      top: 3px;
    }
  }
  #mainNav {
    border-bottom: 0;
    padding: 0;
    @include transition-all();
    .menu-item {
      margin-left: 30px;
      .dropdown-menu & {
        margin-left: 0;
      }
    }
    .navbar-brand {
      display: block;
      font-size: 16px;
      color: $primary;
      padding: 0;
      margin: 0;
      position: relative;
      @include sans-serif-font;
      &:focus,
      &:hover {
        color: darken($primary, .1);
      }
      .icon-logo {
        @include transition-all();
        &:before {
          @include transition-all();
          position: absolute;
        }
      }
    }
    #menu-mainmenu, #menu-mainmenu-en {
      @include media-breakpoint-down(md) {
        margin-top:20px;
        > li {
          margin-left: 0;
          > a{
            margin-left:20px;
          }
        }
      }
      > li a.nav-link {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0;
        font-weight: bold;
      }
      > li.active a.nav-link {
        border-bottom: 2px solid $primary;
      }
      > li.nav-item {
        > a.nav-link,
        > a.nav-link:focus {
          font-family: $font-family-sans-serif;
          font-size: 16px;
          font-weight: 900;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $primary;
          &:hover {
            color: $primary;
          }
          &.active {
            color: $primary !important;
            background-color: transparent;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem;
      }
    }
    .navbar-toggler {
      border: none;
      color: $primary;
      cursor: pointer;
      @include transition-all();
      transform: rotate(270deg);
      &.collapsed {
        transform: rotate(360deg);
      }
    }
    .dropdown-toggle::after {
      display: inline-block;
      width: 0;
      height: 0;
      font-size: 10px;
      font-family: icomoon;
      content: "\e906";
      border: none !important;
      margin: 3px 0 0 10px;
    }
  }
  .mobileheading {
    display:none;
  }
  @include media-breakpoint-down(md) {
    #menu-mainmenu>li>.dropdown-toggle,
    #menu-mainmenu-en>li>.dropdown-toggle
    {
      display:none;
    }
    .mobileheading {
      display:block;
      font-family: Lato,sans-serif;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 1px;
      padding:0;
      text-transform: uppercase;
      color: #00385f;
      margin-left:15px;
    }
  }
  @include media-breakpoint-down(lg) {
    //DESKTOP HEADER
    height: $topbar + $mainnav;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    #topbar {
      height: $topbar;
      line-height: $topbar;
    }
    #mainNav {
      height: $mainnav;
      #navbarResponsive {
        background: #fff;
        padding-bottom:0;
        .dropdown-menu {
          @include media-breakpoint-down(md) {
            display: block;
            border: none;
            padding-bottom: 20px;
          }
        }
        @include transition-all();
        &.collapse.show {
          @include media-breakpoint-down(sm) {
            -webkit-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.4);
          }
        }
      }
      > .container {
        height: $mainnav;
        position: relative;
        .navbar-toggler {
          right: 0;
          position: absolute;
        }
        .navbar-brand {
          left: 0;
          position: relative;
          width: $logowidth;
          height: $mainnav;
          font-size: $logofont;
          .icon-logo {
            height: $mainnav;
            width: $logowidth;
            line-height: $mainnav;
            font-size: $logofont;
            position: absolute;
            top: 0;
            left: 10px;
            &:before {
              font-size: $logofont;
              height: $mainnav;
              width: $logowidth;
              line-height: $mainnav;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    //MOBILE HEADER
    height: $mainnav-mobile;
    #topbar {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    #mainNav {
      height: $mainnav-mobile;
      #navbarResponsive {
        background: #fff;
        padding-bottom:20px;
        .dropdown-menu {
          @include media-breakpoint-down(md) {
            display: block;
            border: none;
            padding-bottom: 20px;
          }
        }
        @include transition-all();
        &.collapse.show {
          @include media-breakpoint-down(sm) {
            -webkit-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.4);
          }
        }
      }
      > .container {
        height: $mainnav-mobile;
        position: relative;
        .navbar-toggler {
          right: 0;
          position: absolute;
        }
        .navbar-brand {
          left: 0;
          position: relative;
          width: $logowidth-mobile;
          height: $mainnav-mobile;
          font-size: $logofont-mobile;
          .icon-logo {
            height: $mainnav-mobile;
            width: $logowidth-mobile;
            line-height: $mainnav-mobile;
            font-size: $logofont-mobile;
            position: absolute;
            top: 0;
            left: 10px;
            &:before {
              font-size: $logofont-mobile;
              height: $mainnav-mobile;
              width: $logowidth-mobile;
              line-height: $mainnav-mobile;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    //DESKTOP HEADER
    height: $topbar + $mainnav;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    #topbar {
      height: $topbar;
      line-height: $topbar;
    }

    #mainNav {
      height: $mainnav;
      > .container {
        height: $mainnav;
      }
      .navbar-brand {
        width: $logowidth;
        height: $mainnav;
        .icon-logo {
          height: $mainnav;
          width: $logowidth;
          line-height: $mainnav;
          &:before {
            font-size: $logofont;
            height: $mainnav;
            width: $logowidth;
            line-height: $mainnav;
            position: absolute;
          }
        }
      }
    }
    &.navbar-shrink {
      //SCROLLED SHRINK HEADER
      height: $topbar-shrink + $mainnav-shrink;
      -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
      #topbar {
        height: $topbar-shrink;
        line-height: $topbar-shrink;
      }
      #mainNav {
        height: $mainnav-shrink;
        > .container {
          height: $mainnav-shrink;
        }
        .navbar-brand {
          height: $mainnav-shrink;
          width: $logowidth-shrink;
          .icon-logo {
            height: $mainnav-shrink;
            width: $logowidth-shrink;
            font-size: $mainnav-shrink;
            &:before {
              font-size: $logofont-shrink;
              height: $mainnav-shrink;
              width: $logowidth-shrink;
              line-height: $mainnav-shrink;
            }
          }
        }
      }
    }
  }

  //@include media-breakpoint-up(md) {
    #navbarResponsive .dropdown-menu .menu-item {
      a {
        padding-left:15px !important;
        border:0 !important;
        outline:0 !important;
        &:active {
          background:#fefefe !important;
        }
      }
    }
  //}

  #searchbtn {
    padding: 0;
    height: 40px;
    border: 0;
    width: 40px;
    opacity: 0;
    position: relative;
    z-index: 2;
  }
  .btn.icon-loupe {
    width:40px;
    height:40px;
    position: relative;
    left:-40px;
    z-index: 1;

  }

  @include media-breakpoint-up(md) {
    li.hashover {
      &:hover {
        ul.dropdown-menu {
          display:block;
          -webkit-animation: mfadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: mfadein 0.4s; /* Firefox < 16 */
          -ms-animation: mfadein 0.4s; /* Internet Explorer */
          -o-animation: mfadein 0.4s; /* Opera < 12.1 */
          animation: mfadein 0.4s;
        }
      }
    }
  }

  @keyframes mfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes mfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes mfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes mfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes mfadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

}




