// Variables



$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$dark-gray: #2C2C2C !default;
$light-gray: #9FA3A7 !default;
$black: #000 !default;
$indigo: #253481 !default;
$blue1: #0b68a7 !default;
$blue2: #037dd0 !default;
$blue3: #1faad3 !default;
$primary: #00385F !default;
$secondary: #3B3B3C !default;
$lightgreen: #B7E47A !default;
$lightergreen: #E2FFE4 !default;
$charcoal: #3B3B3C !default;
$palegray: #c0c3c7;
$darkgray: #717171;
$brightblue: #6C8CA2 !default;
$paleblue: #a7bece !default;
$pale: #f6f8fb !default;
$steel: #6C8CA2;
$extralight: #F6F8FB;

$primaryColor: $primary !default;
$activeColor: $primary !default;

.bg-b {
  background:$extralight;
}

.brightblue {
  color: $brightblue;
}

.text-charcoal {
  color: $charcoal;
}

.text-ligthtgray {
  color: $light-gray;
}

.bg-paleblue {
  background-color: $paleblue;
}

.bg-brightblue {
  background-color: $brightblue;
}

.left-paleblue-border {
  border-left-color: $paleblue;
  border-left-style: solid;
  border-left-width: 7px;
}

.bg-pale {
  background-color: $pale;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-white {
  background-color: $white;
}
.bg-blue1 {
  background-color: $blue1;
}
.bg-blue2 {
  background-color: $blue2;
}
.bg-blue3 {
  background-color: $blue3;
}
.bg-green {
  background-color: $lightgreen;
}
.bg-darkgray {
  background-color: $dark-gray;
}
.bg-lightgray {
  background-color: $light-gray;
}

.bg-lightgreen {
  background-color: $lightgreen;
}

.bg-lightergreen {
  background-color: $lightergreen;
}

$font-family-serif: 'Crimson Text', serif;
$font-family-sans-serif:  'Lato', sans-serif;
$font-family-base:       $font-family-sans-serif !default;