// Import Bootsrap classes and mixins from parent theme
@import "../../../minimal-bootstrap/assets/css/style.scss";
@import "https://fonts.googleapis.com/css?family=Crimson+Text|Lato:300,400,700,900";

//MOBILE HEADER
$topbar-mobile: 68px;
$mainnav-mobile: 60px;
$logowidth-mobile: 115px;
$logofont-mobile: 60px;

//DESKTOP HEADER
$topbar: 68px;
$mainnav: 140px;
$logowidth: 300px;
$logofont: 120px;

//SCROLLED SHRINK HEADER
$topbar-shrink: 40px;
$mainnav-shrink: 80px;
$logowidth-shrink: 170px;
$logofont-shrink: 80px;

// Site specific
@import "variables";
@import "mixins";
@import "animate";
@import "hover";
@import "dropdownhover";
@import "global";
@import "icons";
@import "navbar";
@import "masthead";
@import "footer";

.reveal { opacity:1 !important; }